{% extends 'base.html' %}

{% load static %}

{% block content %}



<div class="columns is-multiline is-centered">
    <div class="column is-half">
		<form>
			<div class='field has-addons'>
				<p class='control'>
					<a class='button is-static'>@</a>
				</p>
				<div class='control'>
					<input class='input' name="q" type='text' placeholder='Search users' value="{{ request.GET.q }}">
				</div>
			</div>
			<br><br>
			<div class='control'>
				<button type='submit' class='button is-info' href=""> Search </button>
			</div>
		</form>
	</div>
</div>

{% for user in users %}
<div class="column is-one-quarter">
	<div class="box">
	  	<article class="media">
	    
		    <div class="media-left">
		      	<figure class="image is-128x128">
		      		{% if user.profile.picture %}
		      			<img src="{{ user.profile.picture.url }}" alt='Placeholder image'>
		      		{% else %}
		        		<img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
		        	{% endif %}
		      	</figure>
		    </div>
	    
		    <div class="media-content">
		      	<div class="content">
		        	<p> <strong>@{{ user.username }}</strong>
		        		<br>
		        	</p>
		        	<br>
		        	<a href="" class='button is-info'>Send Message</a>
		      	</div>
		    </div>

	  	</article>
	</div>
</div>
{% endfor %}

{% endblock %}